<div class="bg-light border col-6 pt-2">
    <h5>Product - @Product.Id</h5>
    <p>Name - @Product.Name</p>
    <p>Show Properties: <input type="checkbox" @bind="@Product.IsActive" /></p>

    @if (@Product.IsActive)
    {
        @foreach (var prop in Product.ProductProperties)
        {
            <p>@prop.Key - @prop.Value</p>
        }
    }
    @* <input type="button" class="btn btn-danger" style="width:100px" value="Delete" @onclick="()=>DeleteProduct(prod.Id)" /> *@
    <_DeleteButtonComponent ProductId="@Product.Id" ProductName="@Product.Name"></_DeleteButtonComponent>

</div>

@code {
    [Parameter]
    public Product Product { get; set; }
}
