@page "/learnBlazor/bindprop"

<div class="row">
    <div class="col-6 border p-3">
        <h3 class="text-primary">Product Playground</h3>
        <hr />

        <h3>Product - One way data binding</h3>
        Product Name: @Product.Name
        <br />
        IsActive: @Product.IsActive
        <br />

        <h3>Product - Two way data binding</h3>
        Price: @Product.Price 
        <br />
        Input Price: <input type="number" @bind="@Product.Price" @bind:event="oninput"/> 
        <br />
        Input Price:
        <input type="number" @bind-value="@Product.Price" @bind-value:event="oninput" />
        <br />

        <h3>IsActive IF condition binding</h3>
        IsActive: @Product.IsActive 
        <br />
        The product is: @(Product.IsActive ? "Active" : "InActive") 
        <br />
        Is Active (Using bind):
        <input type="checkbox" @bind="@Product.IsActive" />
        <br />
        Is Active (Using bind-value):
        <input type="checkbox" @bind-value="@Product.IsActive" checked="@(@Product.IsActive?"checked":null)" />
        <br />

        <h3>Dropdown</h3>
        <select @bind="selectedProp">
            @foreach (var prop in Product.ProductProperties)
            {
                <option value="@prop.Key">@prop.Key</option>
            }
        </select>

        <br />
        Selected Prop Key: @selectedProp

        @* Hide value of key if null. Display value of key if not null *@
        @if (!string.IsNullOrEmpty(selectedProp))
        {
            <p>Selected Prop Value : @Product.ProductProperties.FirstOrDefault(u => u.Key == selectedProp).Value</p>
        }
    </div>

    <div class="col-6 border p-3">
        <h3 class="text-primary">Product Summary</h3>
        <hr />
    </div>

    <div class="col-12 border p-4">
        <h2 class="text-success">Product Table</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Product Name</td>
                    <td>Price</td>
                    <td>Is Active</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var prod in ProductList)
                {
                    <tr>
                        <td><input type="text" @bind="@prod.Name" @bind:event="oninput" /></td>
                        <td><input type="text" @bind="@prod.Price" @bind:event="oninput" /></td>
                        <td><input type="checkbox" @bind="@prod.IsActive"  /></td>
                    </tr>
                }
            </tbody>
        </table> 
        <br />
        <h2>Product Summary</h2>
        @foreach (var prod in ProductList)
        {
            <p>@prod.Name is @(prod.IsActive?"Active":"Inactive"). The price is $@prod.Price</p>
        }
    </div>
    

</div>

@code {
    private string selectedProp = "";

    Product Product = new()
    {
        Id=1,
        Name="Product 1",
        Price=5,
        IsActive=true,
        ProductProperties= new List<Product_Prop>()
        {
            new Product_Prop{ Id =1 , Key="Color", Value="Red"},
            new Product_Prop{ Id =2 , Key="Size", Value="20oz"},
            new Product_Prop{ Id =3 , Key="Flavor", Value="Rose"},

        }
    };

    //working with a list of products
    List<Product> ProductList = new();

    //to override built in life cycle. there is also async version
    protected override void OnInitialized()
    {
        ProductList.Add(new()
            {
                Id = 1,
                Name = "Midnight Blaze",
                IsActive = false,
                Price = 5.99,
                ProductProperties = new List<Product_Prop>()
                {
                    new Product_Prop { Id = 1, Key = "Flavor", Value = "Rose"},
                    new Product_Prop { Id = 2, Key = "Size", Value = "20oz"},
                    new Product_Prop { Id = 3, Key = "Color", Value="Purple" }
                }
            });

        ProductList.Add(new()
            {
                Id = 2,
                Name = "Blossom Lily",
                IsActive = true,
                Price = 10.59,
                ProductProperties = new List<Product_Prop>()
                {
                    new Product_Prop { Id = 1, Key = "Flavor", Value = "Lily" },
                    new Product_Prop { Id = 2, Key = "Size", Value = "18oz" },
                    new Product_Prop {Id = 3,Key = "Color",Value = "White"}
                }
            });
    }
}
