@page "/learnBlazor/bindprop"

<h3>Product - One way data binding</h3>
Product Name: @Product.Name
<br />
IsActive: @Product.IsActive
<br />

<h3>Product - Two way data binding</h3>
Price: @Product.Price 
<br />
Input Price: <input type="number" @bind="@Product.Price" @bind:event="oninput"/> 
<br />
Input Price:
<input type="number" @bind-value="@Product.Price" @bind-value:event="oninput" />
<br />

<h3>IsActive IF condition binding</h3>
IsActive: @Product.IsActive 
<br />
The product is: @(Product.IsActive ? "Active" : "InActive") 
<br />
Is Active (Using bind):
<input type="checkbox" @bind="@Product.IsActive" />
<br />
Is Active (Using bind-value):
<input type="checkbox" @bind-value="@Product.IsActive" checked="@(@Product.IsActive?"checked":null)" />
<br />

@code {
    Models.Product Product = new()
    {
        Id=1,
        Name="Product 1",
        Price=5,
        IsActive=true
    };
}
