@page "/learnBlazor/bindprop"

<h3>Product - One way data binding</h3>
Product Name: @Product.Name
<br />
IsActive: @Product.IsActive
<br />

<h3>Product - Two way data binding</h3>
Price: @Product.Price 
<br />
Input Price: <input type="number" @bind="@Product.Price" @bind:event="oninput"/> 
<br />
Input Price:
<input type="number" @bind-value="@Product.Price" @bind-value:event="oninput" />
<br />

@code {
    Models.Product Product = new()
    {
        Id=1,
        Name="Product 1",
        Price=5,
        IsActive=true
    };
}
